tipos-e-variaveis/.vscode/settings.json
tipos-e-variaveis/bin/TiposVariaveis.class
operadores/.vscode/settings.json
operadores/bin/Operadores.class
operadores/bin/OperadorTernario.class
metodos/.vscode/settings.json
metodos/bin/Usuario.class
metodos/src/SmartTV.class
metodos/bin/SmartTV.class
metodos/src/Usuario.class
java-terminal/bin/AboutMe.class
java-terminal/.vscode/settings.json

